body {
    margin: 0 !important;
    padding: 0 !important;
}

.container-fluid {
    width: 100%;
    margin: auto !important;
    padding: 0 !important;
    justify-content: space-evenly;
}

.search-box {
    width: 500px;
    height: 30px;
}

.search-button {
    height: 30px;
    font-size: 12px;
}

.cart {
    font-size: 12px;
}

.flex-box {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}

.flex-element {
    flex-direction: left;
    padding: 1px;
    border: 0.5px solid #cacaca;
    flex: 0 1 30%;
    /* margin: 10px auto 10px 0; */
    text-align: left;
    align-items: flex-end;
}

.flex-box img {
    object-fit: cover;
}

a {
    text-decoration: None !important;
}

@media only screen and (max-width: 600px) {
    .flex-box {
        width: 80%;
        margin: auto;
    }
    .flex-element {
        padding: 1px;
        flex: 0 1 40%;
    }

    .flex-element img {
        height: 100px !important;
    }

    .search-box {
        width: 200px;
    }

    .flex-element button {
        font-size: 10px;
    }
    .flex-element h5 {
        font-size: 14px;
    }
    .flex-element h6 {
        font-size: 12px;
    }
    .flex-element div {
        font-size: 10px;
    }
}

.product-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 3px auto;
}

.separator {
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.loader loader-colorful {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
}

.loadersmall {
    margin: auto;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message {
    margin-top: 180px;
}
