.search-box {
    width: 500px;
    height: 30px;
}

.search-button {
    height: 30px;
    font-size: 12px;
}

.cart {
    font-size: 12px;
}

.flex-box {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}

.flex-element {
    flex-direction: left;
    padding: 1px;
    border: 0.5px solid #cacaca;
    flex: 0 1 30%;
    /* margin: 10px auto 10px 0; */
    text-align: left;
    align-items: flex-end;
}

.flex-box img {
    object-fit: cover;
}

a {
    text-decoration: None !important;
}

@media only screen and (max-width: 600px) {
    .flex-box {
        width: 80%;
        margin: auto;
    }
    .flex-element {
        padding: 1px;
        flex: 0 1 40%;
    }

    .flex-element img {
        height: 100px !important;
    }

    .search-box {
        width: 200px;
    }

    .flex-element button {
        font-size: 10px;
    }
    .flex-element h5 {
        font-size: 14px;
    }
    .flex-element h6 {
        font-size: 12px;
    }
    .flex-element div {
        font-size: 10px;
    }
}
