@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Poppins", sans-serif;
    overflow-y: scroll;
    overflow-x: scroll;
}

.container-fluid {
    width: 100%;
    margin: auto !important;
    padding: 0 !important;
    justify-content: space-evenly;
}

.search-box {
    width: 500px;
    height: 30px;
}

.search-button {
    height: 30px;
    font-size: 12px;
}

.cart {
    font-size: 12px;
}

.flex-box {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    align-items: flex-start;
}

.flex-element {
    flex-direction: left;
    padding: 1px;
    border: 0.5px solid #cacaca;
    flex: 1 1 29%;
    /* margin: 10px auto 10px 0; */
    text-align: left;
}

.flex-noborder {
    border: 0px;
}

.flex-separator {
    width: 100%;
    padding: 0;
    margin: 0;
}

.flex-box img {
    object-fit: cover;
}

a {
    text-decoration: None !important;
}

@media only screen and (max-width: 800px) {
    .flex-box {
        width: 95%;
        margin: auto;
    }
    .flex-element {
        padding: 1px;
        flex: 0 0 80% !important;
    }

    .product-info {
        flex: 0 0 100% !important;
        padding: 0 20px 20px 20px !important;
    }
    .product-info :nth-child(1) {
        text-align: center;
        margin-bottom: 20px;
    }

    .flex-image {
        text-align: center;
    }

    .search-box {
        width: 200px;
    }

    .checkout-cart {
        width: 100%;
    }
    .checkout {
        width: 90% !important;
    }

    /* .flex-element button {
        font-size: 10px;
    }
    .flex-element h5 {
        font-size: 14px;
    }
    .flex-element h6 {
        font-size: 12px;
    }
    .flex-element div {
        font-size: 10px;
    } */
}

.product-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 3px auto;
}

.separator {
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.loader loader-colorful {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
}

.loadersmall {
    margin: auto;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message {
    margin-top: 180px;
}

/* this is for the profile page */
.container input {
    padding: 10px;
    margin: 10px;
}

/* for the image slider */
.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 500px;
    height: 500px;
    position: left;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 3rem;
    color: grey;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 3rem;
    color: grey;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

/* to hide the scrollbars in the details page */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrHideChrome::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrHideEdge {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* for link hover in product card */
.linkHover:hover {
    color: orange;
    text-decoration: none;
}

.linkHover {
    color: black;
    text-decoration: none;
}

/* button subcategory styles */
.btn-subcategory:active {
    background-color: orange;
}

.btn-subcategory:hover {
    background-color: orange;
    text-decoration: underline;
}
